<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<extension-point id="ternServerTypes" name="%ternServerTypes.name"
		schema="schema/ternServerTypes.exsd" />	
	<extension-point id="ternConsoleConnectors" name="%ternConsoleConnectors.name"
		schema="schema/ternConsoleConnectors.exsd" />	
	<extension-point id="ternNatureAdapters" name="%ternNatureAdapters.name"
		schema="schema/ternNatureAdapters.exsd" />	
	<extension-point id="ternFileConfigurations" name="%ternFileConfigurations.name"
		schema="schema/ternFileConfigurations.exsd" />
			
	<!-- =================================================================================== -->
	<!-- Tern Builder                                                                        -->
	<!-- =================================================================================== -->

	<extension 
		point="org.eclipse.core.resources.builders" 
		id="ternBuilder"
		name="%ternBuilder.name">
		<builder hasNature="true" >
			<run class="tern.eclipse.ide.internal.core.builder.TernBuilder">
			</run>
		</builder>
	</extension>
					
	<!-- =================================================================================== -->
	<!-- Tern Nature                                                                         -->
	<!-- =================================================================================== -->
	
	<extension
		id="ternnature"
		name="%ternNature.name"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run
				class="tern.eclipse.ide.core.TernNature">
			</run>
		</runtime>
	    <builder
	          id="tern.eclipse.ide.core.ternBuilder">
	    </builder>		
	</extension>	
	
	<!-- Preferences initialization -->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="tern.eclipse.ide.internal.core.preferences.TernCorePreferenceInitializer" />
	</extension>
		
</plugin>        
