<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
		
	<!--Preferences:-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Tern Global preferences page -->  
       <page
       		  category="tern.eclipse.ide.ui.preferences.server"
	          class="tern.eclipse.ide.server.nodejs.internal.ui.preferences.TernNodejsPreferencesPage"
	          id="tern.eclipse.ide.server.nodejs.preferences"
	          name="%TernNodejsPreferencesPage.name"/>
	</extension>	
		
	<extension point="tern.eclipse.ide.core.ternConsoleConnectors" >
		<connector class="tern.eclipse.ide.server.nodejs.internal.ui.TernConsoleNodejsConnector" />
	 </extension>
		
</plugin>
