<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013-2015 - present Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

  <extension-point id="ternLinterConfigurations" name="%ternLinterConfigurations.name"
		schema="schema/ternLinterConfigurations.exsd" />

<!-- ====================================================== -->
	<!-- Register the Tern validator with the validation 		-->
	<!-- framework. 										    -->
	<!-- ====================================================== -->

   <extension
         id="validationMarker"
         name="%validationMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <extension id="TernValidator" 
   			  name="%Tern_Validator.name" 
   			  point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="tern.eclipse.ide.linter.internal.core.validation.TernValidator"
            manual="true"
            sourceid="tern.eclipse.ide.linter.ui.validation.TernSourceValidator"            
            version="3"
            markerId="tern.eclipse.ide.linter.core.validationMarker">
		<include>
            <rules>            
              <contentType id="org.eclipse.wst.jsdt.core.jsSource"></contentType>
               <contentType id="org.eclipse.wst.html.core.htmlsource"></contentType>
               <contentType id="org.eclipse.jst.jsp.core.jspsource"></contentType>
               <fileext
                     caseSensitive="false"
                     ext="js">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="html">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="htm">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsp">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="php">
               </fileext>
            </rules>
         </include>                     
      </validator>
   </extension>
     		 	
</plugin>