.CodeMirror-Tern-completion-unknown {
  background:url("data:image/gif;base64,R0lGODlhEAAQANUAAPf4/PP1+/j5/PX3/PP1+vH0++7y+vL1+/X3++vw+fD0++Xs+Ofu+env+e3y+vT3/OXt+eTs+Ojv+evx+vD0+vb4++Ps+Obu+eXt+Ovx+e7z+uTt+Obu+Orx+vL2+/H1+tvk7ujw+e3z+vD1+ihilkR2pF2JsV+KsWqSt2yUuHmdvpWyzKK701CAqnt0UIF3TpKASIl6TIV4TZeCR459SqaJQqKHQ52ERbSQPbGOPq+NP6uLQP///wAAAAAAAAAAACH5BAEAADwALAAAAAAQABAAAAaNQJ5wSCwOccikEknMCZ7QaI6oi1oFOuIOUAGVSGAQd0esIR4nUmoFRgxqRNvhwFIdAi0SwWMj3igKIwUjJiQmHwo3RDMaBgYOhSgiBhozRDAZExMdYJoJEzBENCESpSwsIQ0SDTREMRwXHAxgsBcXMUQyCxgYERC/GBsRMkQvFsfIyS9ELs3Oz81G0kVBADs=") no-repeat left center;
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-object {
  background:url("data:image/gif;base64,R0lGODlhEAAQAOYAAPDz+/P1+/X3+/n6/Pj5++Hp+OPr+eft+Ozx+t/o9+Pr+Obt+env+e3y+vP2+97o9+Hq+OHq9+Ts+Orw+ff5/Pb4++Dq+OPs+Obu+ezy+u/0++3y+WuQvObu+Onw+fX4+yhilnxwPntwPoR0PHxvPol2O4h2O4VzPIJxPIFxPH9wPZd9N5J7OJN7OY53OY13OaiGM6WENKSDNKCCNZ+CNZx/NZx/NpZ8N+DIj7KKMK+IMayHMqmFM9SyaNSyadq9fNWyaf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAEEALAAAAAAQABAAAAeXgEGCg4SFhDmIiYiGgjoDj5A+OYw7kJA/QJOFMBSdIBQEOD89PIUyAgIgqB8fFR8xhTQODiCzDgEBDjOFNQAgAAAcIL8aNoUrGRkgyQ0IGw03hSwMDCAMwiATHi2FLh0dIN8YCx0HL4UmCuogChIKFwYlhScF9fUQFgURI4UpCf8AEzx4gKKQChIhQohQGIIECRWMIg4KBAA7") no-repeat left center;
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-fn {
  background:url("data:image/gif;base64,R0lGODlhEAAQAMQAAAOASByKVCmPWi2UXkGZZ0qgbj+XYF+oej+YX0qbZVancGywgmywg2mrf3CxhV+qdGKqcHGxdnGxdYS/hIK9goS+hIK1f4i5gYi4gYm4gZjGkJe9iKvPmavPmLTSnf///yH5BAEAAB8ALAAAAAAQABAAAAU/4CeOZGmeaKqupAMMzlo8nvYUKaNwfKcsKAClQpxQAKgAJBKRRCAB1AFxwWQuhkOKkNhYEoRVAyBosM7otDoEADs=") no-repeat left center;  
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-array {
  background:url("data:image/gif;base64,R0lGODlhEAAQAMQAAOdgYcgpMMgwNMgpMcgdLPJNXPFNXPV2gMgZKueTi8lDPMlHPsk+OvaSjudgYPV8fO2Dg////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABEALAAAAAAQABAAAAU0YCSOZGmeaKqubKsucLykSmPbSso0T98wKcHBUDAcBKkBxAEAQAIpQmI6JaQQ2CzCxe2eQgA7") no-repeat left center;   
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-number {
  background:url("data:image/gif;base64,R0lGODlhEAAQAMQAAFSBtkF3r1KGulOGuh5koyNnpDl3sDl4sBBcnBJenRVfnhZgnxljoBxkohxlohxkoRxloR5loyJopSZrpydsp////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABUALAAAAAAQABAAAAUtYCWOZGmeaKqubMtSU1sIg8QShxGtzONADYZKESgGFqkEYMlMoBDQKNRFrZ5CADs=") no-repeat left center;  
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-string {
  background:url("data:image/gif;base64,R0lGODlhEAAQAKIAAEoqp1M1r10/t2ZIvWxPwsvB6v///////yH5BAEAAAcALAAAAAAQABAAAAMteLrc/jDK2YyhxxBypRlFMXSPIRRWIZCMEaCWUQRsBgh4jgN17MeYoHBIhCQAADs=") no-repeat left center;
  padding-left: 18px!important;
  margin: 3px 0!important;
}

.CodeMirror-Tern-completion-bool {
  background:url("data:image/gif;base64,R0lGODlhEAAQALMAAIuWq2x9lzNOb/n9/9Xz/+v5//H7/+z6/+77//P8//b9//r///z//////wAAAAAAACH5BAEAAA0ALAAAAAAQABAAAARMsMlJq70W6M01BUQojsBHFGialhMYCEd8vAcrgciL5MJuNyCD4fUSGn6ghPKlVCIJCgVREFU8B68BVqB9vhbgxffJKJvNyI4aw25fIgA7") no-repeat left center;
  padding-left: 18px!important;
  margin: 3px 0!important;
}

ul.CodeMirror-Tern-completion-doc {
  list-style-type:none;
}

.CodeMirror-Tern-tooltip {
  border: 1px solid silver;
  border-radius: 3px;
  color: #444;
  padding: 2px 5px;
  font-size: 12px;
  font-family: Tahoma!important;
  background-color: white;
  white-space: pre-wrap;

  max-width: 40em;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}