<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="tern.eclipse.ide.linter.core.ternLinterConfigurations">
	      <configuration
             id="lint"
             factory="tern.eclipse.ide.linter.lint.internal.core.LintLinterConfiguration" >
	      </configuration>
	</extension>		 	
</plugin>
