<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013-2015 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	  	      
    <!-- =================================================================================== -->
	<!-- Tern Wizard                                                                         -->
	<!-- =================================================================================== -->
	
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%TernWizard.name"
            id="tern.eclipse.ide.ui.wizard">
      </category>
      <wizard
            name="%NewTernDefWizard.name"
            icon="icons/full/etool16/typedef.gif"
            category="tern.eclipse.ide.ui.wizard"
            class="tern.eclipse.ide.tools.internal.ui.wizards.NewTernDefWizard"
            id="tern.eclipse.ide.tools.ui.wizards.NewTernDefWizard">
      </wizard>
      <wizard
            name="%NewTernPluginWizard.name"
            icon="icons/full/etool16/plugin.gif"
            category="tern.eclipse.ide.ui.wizard"
            class="tern.eclipse.ide.tools.internal.ui.wizards.NewTernPluginWizard"
            id="tern.eclipse.ide.tools.ui.wizards.NewTernPluginWizard">
      </wizard>     
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="%TernWizard.name"
            id="tern.eclipse.ide.ui.wizard">
      </category>         
      <wizard
            name="%InstallTernModulesWizard.name"
            icon="icons/full/etool16/logo.png"
            category="tern.eclipse.ide.ui.wizard"
            class="tern.eclipse.ide.tools.internal.ui.wizards.repository.InstallTernModulesWizard"
            id="tern.eclipse.ide.tools.ui.wizards.repository.InstallTernModulesWizard">
      </wizard> 
   </extension>
   	  	      
    <!-- =================================================================================== -->
	<!-- Tern WebBrowser Wizard                                                                         -->
	<!-- =================================================================================== -->
	
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WebBrowserWizard.name"
            id="tern.eclipse.ide.webbrowser.ui"
            parentCategory="tern.eclipse.ide.ui.wizard" >
      </category>
      <wizard
            name="%NewCodeMirrorWizard.name"
            icon="icons/full/etool16/codemirror.png"
            category="tern.eclipse.ide.ui.wizard/tern.eclipse.ide.webbrowser.ui"
            class="tern.eclipse.ide.tools.internal.ui.wizards.webbrowser.NewCodeMirrorWizard"
            id="tern.eclipse.ide.tools.ui.wizards.webbrowser.NewCodeMirrorWizard">
      </wizard>
      <wizard
            name="%NewAceWizard.name"
            icon="icons/full/etool16/ace.png"
            category="tern.eclipse.ide.ui.wizard/tern.eclipse.ide.webbrowser.ui"
            class="tern.eclipse.ide.tools.internal.ui.wizards.webbrowser.NewAceWizard"
            id="tern.eclipse.ide.tools.ui.wizards.webbrowser.NewAceWizard">
      </wizard>
      <wizard
            name="%NewOrionWizard.name"
            icon="icons/full/etool16/orion.png"
            category="tern.eclipse.ide.ui.wizard/tern.eclipse.ide.webbrowser.ui"
            class="tern.eclipse.ide.tools.internal.ui.wizards.webbrowser.NewOrionWizard"
            id="tern.eclipse.ide.tools.ui.wizards.webbrowser.NewOrionWizard">
      </wizard>      
   </extension>
   
    <!-- Tern Repository Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="tern.eclipse.ide.tools.internal.ui.console.TernRepositoryConsolePageParticipant"
	          id="tern.eclipse.ide.tools.ui.console.TernRepositoryConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="tern.eclipse.ide.tools.internal.ui.console.TernRepositoryConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>   
         	       	 
</plugin>        