<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
		
	<extension-point id="nodeJSInstalls" name="%nodeJSInstallsContribution.name"
		schema="schema/nodeJSInstalls.exsd" />
	<extension-point id="nodeJSDebuggers" name="NodeJS Debuggers" 
 		schema="schema/nodeJSDebuggers.exsd"/>		
	
	<!-- Tern Nodejs server type -->
	<extension
		      point="tern.eclipse.ide.core.ternServerTypes">
     <serverType
           id="tern.eclipse.ide.server.nodejs"
           name="%TernNodeJS.name"
           factory="tern.eclipse.ide.server.nodejs.internal.core.TernNodejsServerFactory">
     </serverType>
	</extension>
	
	<!-- Native node.js-->
	<extension point="tern.eclipse.ide.server.nodejs.core.nodeJSInstalls" >
		<install id="node-native"
				 name="%nodeJSInstall.name" 
				 path="" />
	 </extension>
	 	
	<!-- Preferences initialization -->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="tern.eclipse.ide.server.nodejs.internal.core.preferences.TernNodejsCorePreferenceInitializer" />
	</extension>
		 	
</plugin>
