<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<!-- Completion Proposal for Javascript (inside Javascript file) -->
	
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TernCompletionProposalCategory"
	   name="%TernCompletionProposalCategory.name">
	   <proposalCategory icon="icons/full/obj16/logo.png" />
	 </extension>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TernCompletionProposalComputer">
	   <javaCompletionProposalComputer
	      class="tern.eclipse.ide.jsdt.internal.ui.contentassist.TernCompletionProposalComputer"
	      categoryId="tern.eclipse.ide.jsdt.ui.TernCompletionProposalCategory">
	   </javaCompletionProposalComputer>
	 </extension>

	<!-- Completion Proposal for Javascript (inside HTML) -->
	 
	 <extension point="org.eclipse.wst.sse.ui.completionProposal">
	  <proposalCategory
	      id="tern.eclipse.ide.jsdt.ui.contentassist.TernContentAssistProcessor"
	      name="%TernCompletionProposalCategory.name"
	      icon="icons/full/obj16/logo.png">
	  </proposalCategory>
	  <proposalComputer
	      activate="true"
	      categoryId="tern.eclipse.ide.jsdt.ui.contentassist.TernContentAssistProcessor"
	      class="tern.eclipse.ide.jsdt.internal.ui.contentassist.TernContentAssistProcessor"
	      id="tern.eclipse.ide.jsdt.ui.contentassist.TernContentAssistProcessor">
	     <contentType
	        id="org.eclipse.wst.html.core.htmlsource">
	      <partitionType
	            autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
	            id="org.eclipse.wst.html.SCRIPT">
	      </partitionType>
          <partitionType
              autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
              id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
	      </partitionType>
	    </contentType>
	  </proposalComputer>
	</extension>
	 
	<extension
			point="org.eclipse.wst.sse.ui.completionProposal">
		<proposalComputerExtendedActivation
				id="tern.eclipse.ide.jsdt.ui.contentassist.TernContentAssistProcessor">
			<contentType
					id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType
						autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
						id="org.eclipse.wst.html.SCRIPT">
				</partitionType>
	            <partitionType
						autoActivationDelegate="org.eclipse.wst.jsdt.web.ui.contentassist.JSDTAutoActivationDelegate"
						id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
				</partitionType>
			</contentType>
		</proposalComputerExtendedActivation>
	</extension>
		 
	<extension
         point="org.eclipse.wst.jsdt.ui.javaEditorTextHovers">
      <hover
            label="%problemTernHover"
            description="%problemTernHoverDescription"
            class="tern.eclipse.ide.jsdt.internal.ui.hover.JSDTProblemTernHover"
            id="tern.eclipse.ide.jsdt.ui.hover.JSDTProblemTernHover">
      </hover>         
      <hover
            label="%ternHover"
            description="%ternHoverDescription"
            class="tern.eclipse.ide.jsdt.internal.ui.hover.JSDTTernHover"
            id="tern.eclipse.ide.jsdt.ui.hover.TernHover">
      </hover>
	</extension>
	      		 
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<documentationTextHover
        	class="tern.eclipse.ide.jsdt.internal.ui.hover.JSDTTernHover"
        	target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER">
  		</documentationTextHover>
    </extension>			          		
        		 
	 <!-- I don't know why, but startup should be done, otherwise TernCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	
	       <startup class="tern.eclipse.ide.jsdt.internal.ui.JSDTTernStartup" />       
	 </extension>
	 
</plugin>        
