<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TernCompletionProposalCategory"
	   name="%TernCompletionProposalCategory.name">
	   <proposalCategory/>
	 </extension>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TernCompletionProposalComputer">
	   <javaCompletionProposalComputer
	      class="tern.eclipse.ide.jsdt.internal.TernCompletionProposalComputer"
	      categoryId="tern.eclipse.ide.jsdt.TernCompletionProposalCategory">
	   </javaCompletionProposalComputer>
	 </extension>
	 
	 <!-- I don't know why, but startup should be done, otherwise TernCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	       
	 </extension>
	 
</plugin>        
