<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2014 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<extension-point id="ternModuleDescriptors" name="%ternModuleDescriptors.name"
		schema="schema/ternModuleDescriptors.exsd" />
			
    <extension point="org.eclipse.ui.startup">
        <startup
            class="tern.eclipse.ide.internal.ui.TernIDEStartup">
        </startup>
    </extension> 
    
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="tern.eclipse.ide.ui.TernNatureTester"
			type="org.eclipse.core.resources.IResource"
			namespace="tern.eclipse.ide.ui"
			properties="isTernProject"
			class="tern.eclipse.ide.internal.ui.TernNatureTester">
		</propertyTester>
	</extension>
	    
	<!--Commands:-->
	
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="tern.eclipse.ide.ui.convertProjectToTern"
			name="%convertProjectToTernCommandName"
			categoryId="org.eclipse.ui.category.file">
		</command>
	</extension>
			
	<!--Handlers:-->

	<extension
		point="org.eclipse.ui.handlers">

		<handler
			commandId="tern.eclipse.ide.ui.convertProjectToTern"
			class="tern.eclipse.ide.internal.ui.handlers.ConvertProjectToTernCommandHandler">		
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<not>
									<test property="tern.eclipse.ide.ui.isTernProject" />
								</not>
							</and>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		
	</extension>		
				
	<!--Menus:-->
 	<extension
		point="org.eclipse.ui.menus">
 
		<!-- contributions to the project configure menu -->
		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command commandId="tern.eclipse.ide.ui.convertProjectToTern">
				<visibleWhen
          			checkEnabled="true">
				</visibleWhen>
			</command>
		</menuContribution>
		
	</extension>
		 
	<!--Preferences:-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Tern Global preferences page -->  
       <page
	          class="tern.eclipse.ide.internal.ui.preferences.TernGlobalPreferencesPage"
	          id="tern.eclipse.ide.preferences"
	          name="%TernPreferencePage.name"/>
	</extension>

	<extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%TernMainPropertyPage.name"        
            class="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage"
            id="tern.eclipse.ide.ui.properties.TernMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>    
	  <page
            name="%TernModulesPropertyPage.name"
            category="tern.eclipse.ide.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.ui.properties.TernModulesPropertyPage"
            id="tern.eclipse.ide.ui.properties.TernModulesPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>     
	  <page
            name="%TernScriptPathsPropertyPage.name"
            category="tern.eclipse.ide.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.internal.ui.properties.TernScriptPathsPropertyPage"
            id="tern.eclipse.ide.ui.properties.TernScriptPathsPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%TernConsolePropertyPage.name"
            category="tern.eclipse.ide.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.internal.ui.properties.TernConsolePropertyPage"
            id="tern.eclipse.ide.ui.properties.TernConsolePropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>                    		          		  	
	</extension>
     
    <!-- Tern Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="tern.eclipse.ide.internal.ui.console.TernConsolePageParticipant"
	          id="tern.eclipse.ide.internal.ui.console.TernConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="tern.eclipse.ide.internal.ui.console.TernConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="tern.eclipse.ide.internal.ui.hyperlink.TernHyperLinkDetector"
            id="tern.eclipse.ide.internal.ui.hyperlink.TernHyperLinkDetector"
            name="%TernHyperLinkDetector"
            activate="true"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
      
   <!-- Tern Defs + Plugins descriptor -->
   <extension
         point="tern.eclipse.ide.ui.ternModuleDescriptors">
      
      <!-- Options -->
      <optionFactory
         id="string"
         class="tern.eclipse.ide.internal.ui.descriptors.options.StringTernModuleOptionFactory" >
      </optionFactory>      
      <optionFactory
         id="boolean"
         class="tern.eclipse.ide.internal.ui.descriptors.options.BooleanTernModuleOptionFactory" >
      </optionFactory>  
      <optionFactory
         id="path"
         class="tern.eclipse.ide.internal.ui.descriptors.options.PathTernModuleOptionFactory" >         
      </optionFactory>  
      <optionFactory
         id="path[]"
         class="tern.eclipse.ide.internal.ui.descriptors.options.PathArrayTernModuleOptionFactory" >         
      </optionFactory>      
      <optionFactory
         id="finder"
         class="tern.eclipse.ide.internal.ui.descriptors.options.FinderTernModuleOptionFactory" >         
      </optionFactory>  
      <optionFactory
         id="lintRules"
         class="tern.eclipse.ide.internal.ui.descriptors.options.LintRulesTernModuleOptionFactory" >         
      </optionFactory>       
      <!-- Tern def descriptors -->
      <image
      	 id="chrome-apps"
      	 icon="/icons/full/obj16/chrome-apps.png" >
      </image>
      <image
      	 id="browser"
      	 icon="/icons/full/obj16/browser.gif" >
      </image>
      <image
         id="ecma5"
         icon="/icons/full/obj16/ecma5.png" >
      </image>       
      <image
         id="jquery"
         icon="/icons/full/obj16/jquery.png" >
      </image>      
      <image
            id="underscore"
            icon="/icons/full/obj16/underscore.png" >
      </image>  
      <!-- Tern plugin descriptors -->
      <image
            id="angular"
            icon="/icons/full/obj16/angular.png" >
      </image>
      <image
            id="aui"
            icon="/icons/full/obj16/aui.png" >
      </image>       
      <image
            id="ckeditor"
            icon="/icons/full/obj16/ckeditor.png" >
      </image>
      <image
            id="closure"
            icon="/icons/full/obj16/closure.png" >
      </image>      
      <image
            id="cordovajs"
            icon="/icons/full/obj16/cordovajs.png" >
      </image>
      <image
            id="dojotoolkit"
            icon="/icons/full/obj16/dojotoolkit.png" >
      </image>
      <image
            id="extjs"
            icon="/icons/full/obj16/extjs.png" >
      </image>
  	  <image
            id="gmaps"
            icon="/icons/full/obj16/gmaps.png" >
      </image>
      <image
            id="gas"
            icon="/icons/full/obj16/gas.png" >
      </image>             
  	  <image
            id="grunt"
            icon="/icons/full/obj16/grunt.png" >
      </image>
      <image
            id="liferay"
            icon="/icons/full/obj16/liferay.png" >
      </image>
  	  <image
            id="meteor"
            icon="/icons/full/obj16/meteor.png" >        
      </image>
  	  <image
            id="node-express"
            icon="/icons/full/obj16/node-express.png" >
      </image>                          
  	  <image
            id="node"
            icon="/icons/full/obj16/node.png" >
      </image>
  	  <image
            id="qooxdoo"
            icon="/icons/full/obj16/qooxdoo.png" >
      </image>      
  	  <image
            id="requirejs"
            icon="/icons/full/obj16/requirejs.png" >
      </image>                 
      <image
            id="yui"
            icon="/icons/full/obj16/yui.png" >
      </image>      
   </extension>   
         	       	 
</plugin>        
