<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2014 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<extension-point id="ternDescriptors" name="%ternDescriptors.name"
		schema="schema/ternDescriptors.exsd" />
			
    <extension point="org.eclipse.ui.startup">
        <startup
            class="tern.eclipse.ide.ui.internal.TernIDEStartup">
        </startup>
    </extension> 
    
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="tern.eclipse.ide.ui.TernNatureTester"
			type="org.eclipse.core.resources.IResource"
			namespace="tern.eclipse.ide.ui"
			properties="isTernProject"
			class="tern.eclipse.ide.ui.internal.TernNatureTester">
		</propertyTester>
	</extension>
	    
	<!--Commands:-->
	
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="tern.eclipse.ide.ui.convertProjectToTern"
			name="%convertProjectToTernCommandName"
			categoryId="org.eclipse.ui.category.file">
		</command>
	</extension>
			
	<!--Handlers:-->

	<extension
		point="org.eclipse.ui.handlers">

		<handler
			commandId="tern.eclipse.ide.ui.convertProjectToTern"
			class="tern.eclipse.ide.internal.ui.handlers.ConvertProjectToTernCommandHandler">		
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<not>
									<test property="tern.eclipse.ide.ui.isTernProject" />
								</not>
							</and>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		
	</extension>		
				
	<!--Menus:-->
 	<extension
		point="org.eclipse.ui.menus">
 
		<!-- contributions to the project configure menu -->
		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command commandId="tern.eclipse.ide.ui.convertProjectToTern">
				<visibleWhen
          			checkEnabled="true">
				</visibleWhen>
			</command>
		</menuContribution>
		
	</extension>
		 
	<!--Preferences:-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Tern Global preferences page -->  
       <page
	          class="tern.eclipse.ide.internal.ui.preferences.TernGlobalPreferencesPage"
	          id="tern.eclipse.ide.preferences"
	          name="%TernPreferencePage.name"/>
	</extension>

	<extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%TernMainPropertyPage.name"        
            class="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage"
            id="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>    
	  <page
            name="%TernFacetsPropertyPage.name"
            category="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.internal.ui.properties.TernFacetsPropertyPage"
            id="tern.eclipse.ide.internal.ui.properties.TernFacetsPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>     
	  <page
            name="%TernScriptPathsPropertyPage.name"
            category="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.internal.ui.properties.TernScriptPathsPropertyPage"
            id="tern.eclipse.ide.internal.ui.properties.TernScriptPathsPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%TernConsolePropertyPage.name"
            category="tern.eclipse.ide.internal.ui.properties.TernMainPropertyPage"        
            class="tern.eclipse.ide.internal.ui.properties.TernConsolePropertyPage"
            id="tern.eclipse.ide.internal.ui.properties.TernConsolePropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>                    		          		  	
	</extension>
     
    <!-- Tern Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="tern.eclipse.ide.internal.ui.console.TernConsolePageParticipant"
	          id="tern.eclipse.ide.internal.ui.console.TernConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="tern.eclipse.ide.internal.ui.console.TernConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="tern.eclipse.ide.internal.ui.hyperlink.TernHyperLinkDetector"
            id="tern.eclipse.ide.internal.ui.hyperlink.TernHyperLinkDetector"
            name="%TernHyperLinkDetector"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
   <!-- Tern Defs + Plugins descriptor -->
   <extension
         point="tern.eclipse.ide.ui.ternDescriptors">
      <!-- Tern def descriptors -->
      <ternDescriptor
            id="browser"
            description="%ternDescriptor.browser.description"
            icon="/icons/full/obj16/browser.gif" >
      </ternDescriptor>
      <ternDescriptor
            id="chai"
            description="%ternDescriptor.chai.description" >
      </ternDescriptor>
      <ternDescriptor
            id="ecma5"
            description="%ternDescriptor.ecma5.description"
            icon="/icons/full/obj16/ecma5.png" >
      </ternDescriptor>       
      <ternDescriptor
            id="jquery"
            description="%ternDescriptor.jquery.description"
            icon="/icons/full/obj16/jquery.png" >
      </ternDescriptor>      
      <ternDescriptor
            id="underscore"
            description="%ternDescriptor.underscore.description"
            icon="/icons/full/obj16/underscore.png" >
      </ternDescriptor>  
      <!-- Tern plugin descriptors -->
      <ternDescriptor
            id="angular"
            description="%ternDescriptor.angular.description"
            icon="/icons/full/obj16/angular.png" >
      </ternDescriptor>
      <ternDescriptor
            id="aui"
            description="%ternDescriptor.aui.description"
            icon="/icons/full/obj16/aui.png" >
      </ternDescriptor>       
      <ternDescriptor
            id="cordovajs"
            description="%ternDescriptor.cordovajs.description"
            icon="/icons/full/obj16/cordovajs.png" >
      </ternDescriptor> 
      <ternDescriptor
            id="dojotoolkit_1_6"
            description="%ternDescriptor.dojotoolkit_1_6.description"
            icon="/icons/full/obj16/dojotoolkit.png" >
      </ternDescriptor>            
  	  <ternDescriptor
            id="grunt"
            description="%ternDescriptor.grunt.description"
            icon="/icons/full/obj16/grunt.png" >
      </ternDescriptor>
      <ternDescriptor
            id="liferay"
            description="%ternDescriptor.liferay.description"
            icon="/icons/full/obj16/liferay.png" >
      </ternDescriptor>
  	  <ternDescriptor
            id="meteor"
            description="%ternDescriptor.meteor.description"
            icon="/icons/full/obj16/meteor.png" >        
      </ternDescriptor>                    
  	  <ternDescriptor
            id="node"
            description="%ternDescriptor.node.description"
            icon="/icons/full/obj16/node.png" >
      </ternDescriptor>
  	  <ternDescriptor
            id="requirejs"
            description="%ternDescriptor.requirejs.description"
            icon="/icons/full/obj16/requirejs.png" >
      </ternDescriptor>                 
      <ternDescriptor
            id="yui"
            description="%ternDescriptor.yui.description"
            icon="/icons/full/obj16/yui.png" >
      </ternDescriptor>      
   </extension>   
         	       	 
</plugin>        